<form action="/answer" method="get">
  <label for="" class="form-label">Ask you coach anything:</label>
  <div class="input-group mb-3">
    <input class="form-control" type="text" name="question"
          placeholder="what's your question?">
    <button class="btn-lg btn-primary" type="submit">Ask!</button>
  </div>
</form>
